body,
html {
  padding: 0;
  margin: 0;
  background-color: #375C38;
  height: 100%;
}

.ellipse {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#override-button {
  padding: 0;
  margin: 0;
  /* position: absolute; */
  /* margin-left: 10px;
  margin-top: 10px; */
  top: 200px;
  height: 200px;
  width: 200px;
  border: none;
  color: #333;
  background-color:#FFBD59;
  border-radius: 100px;
  z-index: 1;
  cursor: pointer;
}

.buttonAndChairContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-end;
}

.leaveMe {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #375C38;
  font-weight: bold;
  text-align: center;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}
